.float-left {
    float: left;
}

.small-padding-right {
    padding-right: 10px;
}

.small-padding-bottom {
    padding-bottom: 10px;
}

.small-margin-top {
    margin-top: 10px;
}

.textarea-admin {
    width: 600px;
    padding-left: 20px;
}

.margin-left-25 {
    margin-left: 25px;
}

.margin_left_50 {
    margin-left: 50px;
}

.padding-right {
    padding-right: 35px;
}

.header {
    display: block;
    padding-bottom: 15px;
}

.header-first {
    background-color: #f5f5f5;
}

.header .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.wrapper {
    /*display: table;*/
    height: 100%;
}
.content {
    /*display: table-row;*/
    height: 100%;
}

footer {
    flex: 0 0 auto;
    background: #77961a;
    color: white;
    padding: 30px 0 40px;
}

.top-panel-mobile {
    display: none;
}

.top-panel {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 12px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #85a71e;
    display: flex;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

.header .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

[class*="cell-"] {
    padding-left: 10px;
    padding-right: 10px;
}

.list, .list-table {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top_menu-li {
    display: inline-block;
    margin-right: 15px;
}

.top-panel a {
    color: white !important;
}

.header a {
    color: #c53737;
    text-decoration: none;
    transition: .2s all;
}

.phones-a {
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
    line-height: 1.3;
    margin-bottom: 3px;
    width: 100%;
}

.phones-span {
    border-bottom: 1px dashed;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: #9B9B9B;
    transition: .2s all;
}

.cell-3 {
    max-width: 25%;
}

.time-text {
    margin-bottom: 7px;
    display: inline-block;
    width: 100%;
}

.gray_text {
    color: #9B9B9B;
}

.catalog_header {
    display: flex;
    color: white;
}

.catalog_block_left {
    width: 300px;
}

.catalog_block_center{
    background-color: #77961a;
}

nav { background: white; }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a {
    text-decoration: none;
    outline: none;
    display: block;
    transition: .4s ease-in-out;
}
.topmenu {
    text-align: center;
    padding: 10px 0;
}
.topmenu > li {
    display: inline-block;
    position: relative;
}
.topmenu > li:after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    background: #d2d2d2;
    top: 16px;
    box-shadow: 4px -2px 0 #d2d2d2;
    transform: rotate(30deg);
}
.topmenu > li:last-child:after {
    background: none;
    box-shadow: none;
}
.topmenu > li > a {
    padding: 12px 26px;
    color: #767676;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Exo 2', sans-serif;
}
.topmenu li a:hover { color: #c0a97a; }

.submenu {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 210px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(1);
}

.submenu li a {
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
    color: #484848;
    font-family: 'Kurale', serif;
}
.topmenu > li:hover .submenu {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: .4s ease-in-out;
}

.submenu li ul {
    visibility: hidden;
    width: 210px;
    background: #fafafa;
    border-top: 1px solid #ededed;
    position: absolute;
    top: 0;
    left: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display:none;
}

.submenu li:hover > ul {
    display: block;
    visibility: visible;
    opacity: 1;
}

.main_category {
    font-size: 20px;
    font-weight: bold;
}

.footer-phones a {
   color: white;
   margin-bottom: 5px;
   transition: .2s all;
}

.js-arrow-up {
   z-index: 999;
   position: fixed;
   width: 3rem;
   border: none;
   height: 3rem;
   padding: 0;
   bottom: 0.5rem;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   right: 0.5rem;
   color: #77961a;
   background-color: white;
   text-decoration: none;
   border-radius: 50%;
   display: block;
   cursor: pointer;
   -webkit-box-shadow: 0 0 5px #777777;
   box-shadow: 0 0 5px #777777;
}

.subCategories-container {
    padding-left: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.subCategory-item {
    padding-right: 50px;
    padding-top: 35px;
}

.subCategories-link {
    text-decoration: none !important;
    cursor: pointer;
}

.subCategory-img {
    width: 350px;
    height: 350px;
}

.subCategory-img-block {
    border: #1c7430 solid 1px;
}

.subCategory-name-block {
    font-size: 20px;
    text-align: center;
}

.js-arrow-up:before {
   content: "^";
   position: absolute;
   -webkit-transform: translate(-50%, -55%);
   transform: translate(-50%, -55%);
   top: 50%;
   font-size: 2rem;
   left: 50%;
}

.footer-phones .phones-span {
   color: white;
   margin-bottom: 5px;
   transition: .2s all;
}

.cell-6 {
   max-width: 50%;
   flex-basis: 50%;
}

.footer-menu-link {
   color: white;
   text-decoration: none;
   transition: .2s all;
   padding: 0;
   line-height: 1.2;
   border-bottom: 1px solid transparent;
}

.feedback-container {
    padding-top: 30px;
    padding-left: 300px;
}

.feedback_label {
    width: 100px;
}

.assortiment_label {
    width: 200px;
}

#assortiment_table {
    width: 80%;
    text-align: left;
    margin: auto auto 15px;
}

#assortiment_table tr td {
    min-width: 20%;
}

#assortiment_table thead {
    font-size: large;
    font-weight: bold;
    background-color: #f5f5f5;
}

#assortiment_table td {
    padding-left: 10px;
}

#assortiment_table thead td{
    height: 50px;
}

#assortiment_table tbody tr {
    border-bottom: 1px solid gray;
    height: 35px;
}

#assortiment_table tbody tr:hover {
    background-color: #f5f5f5;
}

#assortiment_table tbody td {
    width: 70px;
}
